.v-line{
    border-left: thick solid #000;
    height:100%;
    left: 50%;
    position: absolute;
   }

   .v-line2{
    border-left: thistle solid #000;
    height:100%;
    left: 5%;
    position: absolute;
   }

   .v-line3{
    border-left: thick solid #000;
    height:100%;
    left: 40%;
    position: absolute;
   }

   .v-line4{
    border-left: thick solid #000;
    height:100%;
    left: 95%;
    position: absolute;
   }

.firstline {
  border: 0;
  width: 100%;
  align: left;
  height: 10px;
  background: black;
}

.secondline {
    position: absolute;
    top: 95%;
    border: 0;
    width: 150%;
    align: left;
    height: 10px;
    background: black;
  }

.thirdline {
  position: absolute;
  top: 45%;
  border: 0;
  width: 150%;
  align: left;
  height: 10px;
  background: black;
}

.name {
    position: absolute;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

  .numbers {
      position: absolute;
      Top: 65%;
      left: 41.5%;
      font-size: 31px;
  }

.one {
  position:absolute;
  top: 55%;
  left: 2%;
  font-size: 171px;
}

.second {
  position: absolute;
  padding-right: 5px;
  top: 20%;
  right: 61.5%;
  font-size: 101px;
}

.third {
  position: absolute;
  top: 60%;
  right: 20%;
  font-size: 81px;
}

.four {
  position: absolute;
  top: -10%;
  left: 51.7%;
  font-size: 150px;
}

.fifth {
  position: absolute;
  padding:20px;
  top: 31.7%;
  left: 71.5%;
  font-size: 61.5px;
}

.six {
  position: absolute;
  padding:20px;
  top: 61.5%;
  left: 38.1%;
  font-size: 25px;
}

.seventh {
  position: absolute;
  top: 64.5%;
  left: 42.1%;
  font-size: 25px;
}

.eighth {
  position: absolute;
  top: 72.7%;
  left: 42.1%;
  font-size: 25px;
}

.ninth {
  position: absolute;
  top: 76.7%;
  left: 42.1%;
  font-size: 25px;
}

  a { text-decoration:none;
    color: inherit;
  } 

  * {
    margin:0;
    padding:0;
  }
  
  #wrap {
    width:100%;
    height:100%;
    text-align:center;
    vertical-align:middle;
  }
  
  #wrap p {
    color:white;
    font-size:25px;
    line-height:300px;
  }

  #wrap2 {
    width:100%;
    height:300px;
    text-align:center;
    vertical-align:middle;
  }
  
  #wrap2 p {
    color:white;
    font-size:25px;
    line-height:300px;
  }

  .hiddenimg {
    display: none;
  }
  
  .hiddentxt {
    font-weight: bold;
    color: #F00;
    z-index:99;
  }
  
  .hiddentxt a {
    color: #F00;
    text-decoration: none;
    z-index: 99;
  }
  
  .hiddenclick {
    font-weight: bold;
    color: #F00;
    text-decoration: none;
    cursor: pointer;
  }
  
  .hiddenclick a {
    color: #F00;
    text-decoration: none;
  }
  
  .hiddenclick a:visited {
    color: #F00;
    text-decoration: none;
  }
  
  .hiddentxt:hover ~ .hiddenimg {
    display: block;
    position: absolute;
      z-index: 2
  }
  
  .hiddenclickimg {
    display: none;
  }

  .image01 {
    width: 550%;
  }




  /*target only screen up to 1024px*/
@media only screen and (min-width: 1024px) {
  .v-line{
    border-left: thick solid #000;
    height:100%;
    left: 50%;
    position: absolute;
   }

   .v-line2{
    border-left: thick solid #000;
    height:100%;
    left: 5%;
    position: absolute;
   }

   .v-line3{
    border-left: thick solid #000;
    height:100%;
    left: 40%;
    position: absolute;
   }

   .v-line4{
    border-left: thick solid #000;
    height:100%;
    left: 95%;
    position: absolute;
   }

.firstline {
  border: 0;
  width: 100%;
  align: left;
  height: 10px;
  background: black;
}

.secondline {
    position: absolute;
    top: 95%;
    border: 0;
    width: 150%;
    align: left;
    height: 10px;
    background: black;
  }

.thirdline {
  position: absolute;
  top: 45%;
  border: 0;
  width: 150%;
  align: left;
  height: 10px;
  background: black;
}

.name {
    position: absolute;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

  .numbers {
      position: absolute;
      Top: 65%;
      left: 41.5%;
      font-size: 31px;
  }

.one {
  position:absolute;
  top: 50%;
  left: 10%;
  font-size: 250px;
}

.second {
  position: absolute;
  top: 20%;
  right: 60%;
  font-size: 200px;
}

.third {
  position: absolute;
  top: 60%;
  right: 20%;
  font-size: 120px;
}

.four {
  position: absolute;
  top: -10%;
  left: 51.7%;
  font-size: 200px;
}

.fifth {
  position: absolute;
  padding:20px;
  top: 31.7%;
  left: 71.5%;
  font-size: 61.5px;
}

.six {
  position: absolute;
  padding:20px;
  top: 47.5%;
  left: 42.5%;
  font-size: 31px;
}

.seventh {
  position: absolute;
  top: 56.7%;
  left: 43.7%;
  font-size: 31px;
}

.eighth {
  position: absolute;
  top: 71.7%;
  left: 43.7%;
  font-size: 31px;
}

.ninth {
  position: absolute;
  top: 81.7%;
  left: 43.7%;
  font-size: 31px;
}

  a { text-decoration:none;
    color: inherit;
  } 

  * {
    margin:0;
    padding:0;
  }
  
  #wrap {
    width:100%;
    height:100%;
    text-align:center;
    vertical-align:middle;
  }
  
  #wrap p {
    color:white;
    font-size:25px;
    line-height:300px;
  }

  #wrap2 {
    width:100%;
    height:300px;
    text-align:center;
    vertical-align:middle;
  }
  
  #wrap2 p {
    color:white;
    font-size:25px;
    line-height:300px;
  }

  .hiddenimg {
    display: none;
  }
  
  .hiddentxt {
    font-weight: bold;
    color: #F00;
    z-index:99;
  }
  
  .hiddentxt a {
    color: #F00;
    text-decoration: none;
    z-index: 99;
  }
  
  .hiddenclick {
    font-weight: bold;
    color: #F00;
    text-decoration: none;
    cursor: pointer;
  }
  
  .hiddenclick a {
    color: #F00;
    text-decoration: none;
  }
  
  .hiddenclick a:visited {
    color: #F00;
    text-decoration: none;
  }
  
  .hiddentxt:hover ~ .hiddenimg {
    display: block;
    position: absolute;
      z-index: 2
  }
  
  .hiddenclickimg {
    display: none;
  }

  .image01 {
    width: 550%;
  }
}